/* Main wrapper for the delete profile component */
.wrapper {
  padding: 20px;
  background-color: var(--white);
  border-radius: 0px 0px 20px 20px;
}

/* Confirmation box for the delete action */
.confirmBox {
  background: #f5f5f5;
  padding-bottom: 20px;
  border-radius: 20px;
  text-align: center;
}

.icon {
  width: 140px;
  margin-bottom: 15px;
}

.confirmBox h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
  font-family: "BL Melody", sans-serif;
}

.confirmBox p {
  color: #000;
  margin-bottom: 30px;
  font-family: var(--font-poppins), sans-serif;
}

/* Button row for confirm/cancel actions */
.btnRow {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Cancel button style */
.cancelBtn {
  background: #fff;
  border: 1px solid #000;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 600;
    /* Font family for the cancel button */
  cursor: pointer;
  font-family: "BL Melody", sans-serif;
}

/* Delete button style */
.deleteBtn {
  background: #7a12ff;
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  font-family: "BL Melody", sans-serif;

}

/* Success message box style */
.successBox {
  background: #f5f5f5;
  padding: 60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

/* Media query for screens with a maximum width of 600px */
@media (max-width: 600px) {
  .confirmBox {
    padding: 25px;
  }

  .icon {
    width: 110px;
  }

  .btnRow {
    flex-direction: column;
  }

  .cancelBtn,
  .deleteBtn {
    width: 100%;
  }

  .successBox {
    padding: 40px;
  }
}
