/* [project]/src/app/dashboard/profile/Profile.module.css [app-client] (css) */
.Profile-module__rfW_xW__profileWrapper {
  width: 100%;
}

.Profile-module__rfW_xW__viewBox {
  background: #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 25px;
  display: flex;
}

.Profile-module__rfW_xW__viewBox label {
  color: #888;
  font-size: 13px;
}

.Profile-module__rfW_xW__viewBox p {
  color: #222;
  font-size: 16px;
  font-weight: 700;
}

.Profile-module__rfW_xW__editIcon {
  cursor: pointer;
  width: 22px;
  height: 20px;
}

.Profile-module__rfW_xW__editBox {
  background: #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  flex-wrap: wrap;
  gap: 40px;
  padding: 25px;
  display: flex;
}

.Profile-module__rfW_xW__left {
  flex-direction: column;
  flex: 1;
  gap: 15px;
  min-width: 260px;
  display: flex;
}

.Profile-module__rfW_xW__left label {
  color: #666;
  font-size: 13px;
}

.Profile-module__rfW_xW__left input {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
}

.Profile-module__rfW_xW__changePassword {
  color: #7a12ff;
  cursor: pointer;
  font-weight: 700;
}

.Profile-module__rfW_xW__uploadBox {
  text-align: center;
  color: #777;
  cursor: pointer;
  background: #fafafa;
  border: 2px dashed #ddd;
  border-radius: 12px;
  padding: 30px;
}

.Profile-module__rfW_xW__btnRow {
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  display: flex;
}

.Profile-module__rfW_xW__cancelBtn {
  cursor: pointer;
  background: #fff;
  border: 1px solid #333;
  border-radius: 25px;
  padding: 8px 40px;
  font-weight: 500;
}

.Profile-module__rfW_xW__saveBtn {
  color: #fff;
  cursor: pointer;
  background: #7a12ff;
  border: none;
  border-radius: 25px;
  padding: 10px 36px;
  font-weight: 600;
}

.Profile-module__rfW_xW__saveBtn:hover {
  background: #6510d8;
}

.Profile-module__rfW_xW__otpBox {
  text-align: center;
  background: #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 25px;
}

.Profile-module__rfW_xW__otpInputs {
  justify-content: center;
  gap: 12px;
  margin: 30px 0;
  display: flex;
}

.Profile-module__rfW_xW__otpInputs input {
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 12px;
  width: 50px;
  height: 55px;
  font-size: 20px;
}

.Profile-module__rfW_xW__resend span {
  color: #7a12ff;
  cursor: pointer;
}

.Profile-module__rfW_xW__passwordBox {
  text-align: center;
  background: #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 25px;
}

.Profile-module__rfW_xW__inputWrapper {
  max-width: 420px;
  margin: 20px auto;
  position: relative;
}

.Profile-module__rfW_xW__inputWrapper input {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
  padding: 12px 45px 12px 12px;
}

.Profile-module__rfW_xW__eyeIcon {
  color: #999;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.Profile-module__rfW_xW__successBox {
  text-align: center;
  color: #7a12ff;
  background: #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 40px;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .Profile-module__rfW_xW__editBox {
    gap: 20px;
  }

  .Profile-module__rfW_xW__btnRow {
    gap: 15px;
  }
}

/*# sourceMappingURL=src_app_dashboard_profile_Profile_module_b2ae07aa.css.map*/