.sidebar {
  width: 72px;
  background: #f2f2f2;
  border-radius: 18px;
  padding: 14px 10px;
  transition: width 0.25s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expand {
  width: 240px;
}

/* MENU ITEM */
.menu {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
}

.menu:hover {
  background: #eee6ff;
}

.menu img {
  width: 22px;
  height: 22px;
}

/* MENU TEXT */
.menuText {
  flex: 1;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: #333;
}

.arrow {
  font-size: 11px;
}

/* DROPDOWN */
.dropdown {
  margin-left: 38px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  padding: 6px 10px;
  border-radius: 8px;
  background: #f5f5f5;
}

.dropdown a:hover {
  background: #eee6ff;
  color: #7f00ff;
}
