.container {
  display: flex;
  height: 100vh;
  padding-top: 30px;
  gap: 30px;
}

/* RIGHT SIDE */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* PAGE CONTENT */
.page {
  padding: 20px;
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  flex: 1;
}
