.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999999; /* VERY IMPORTANT */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  width: 600px;
  max-width: 90%;
}
